$button-height: 40px;
$button-height-desktop: 48px;

.keyboard {
  &__btn {
    height: $button-height;
    flex: 1;
    touch-action: manipulation;
    user-select: none;
    overflow: hidden;

    @media screen and (min-width: 768px) {
      height: $button-height-desktop;
    }

    &--enter {
      flex: 2.2;
    }

    &--canc {
      div {
        padding-right: 2px;
      }

      flex: 2.2;

      @media screen and (min-width: 768px) {
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }

    &--help-bonus-letter {
      flex: 2.05;

      @media screen and (min-width: 768px) {
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }

    &--help-keyboard-filter {
      flex: 2.05;

      @media screen and (min-width: 768px) {
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }

    &--spacer {
      flex: 0.5;
    }

    &--disabled {
      color: var(--bs-btn-disabled-color);
      background-color: var(--bs-btn-disabled-bg);
      border-color: var(--bs-btn-disabled-border-color);
      opacity: 0.2 !important;
      cursor: not-allowed;
    }

    &--loading {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: var(--bs-orange);
        z-index: -1;
        animation: loading-line 1.5s linear forwards;
      }
    }

    @keyframes loading-line {
      to {
        width: 100%;
      }
    }
  }
}
