$slot-height-mobile: 40px;
$slot-min-width-mobile: 30px;
$slot-height-desktop: 48px;
$slot-min-width-desktop: 36px;

$margin: 16px;

$container-max-height-mobile: $slot-height-mobile * 3 + $margin * 2;
$container-max-height-desktop: $slot-height-desktop * 3 + $margin * 2;

.guessed-word {
  margin-bottom: $margin;
  transition: transform 0.3s;

  &__container {
    max-height: $container-max-height-mobile;

    @media screen and (min-width: 768px) {
      max-height: $container-max-height-desktop;
    }
  }

  &__slot {
    height: $slot-height-mobile;
    min-width: $slot-min-width-mobile;
    width: auto;
    transition: all 0.3s;

    @media screen and (min-width: 768px) {
      height: $slot-height-desktop;
      min-width: $slot-min-width-desktop;
    }

    button {
      height: $slot-height-mobile;
      min-width: $slot-min-width-mobile;

      @media screen and (min-width: 768px) {
        height: $slot-height-desktop;
        min-width: $slot-min-width-desktop;
      }
    }

    &--previous {
      min-width: $slot-min-width-desktop / 2;
      transform: translateY(20%);
      transform-origin: bottom;

      button {
        min-width: $slot-min-width-desktop / 2;
      }
    }
  }
}
