@use "sass:math";

.guessed-word {
  margin-bottom: $margin;
  transition: transform 0.3s;

  &__container {
    max-height: $word-container-max-height-mobile;

    @media screen and (min-width: 768px) {
      max-height: $word-container-max-height-desktop;
    }
  }

  &__slot {
    height: $slot-height-mobile;
    min-width: $slot-min-width-mobile;
    width: auto;
    transition: all 0.3s;

    @media screen and (min-width: 768px) {
      height: $slot-height-desktop;
      min-width: $slot-min-width-desktop;
    }

    button {
      height: $slot-height-mobile;
      min-width: $slot-min-width-mobile;
      transition: all 0.25s;

      @media screen and (min-width: 768px) {
        height: $slot-height-desktop;
        min-width: $slot-min-width-desktop;
      }
    }

    &--previous {
      min-width: math.div($slot-min-width-desktop, 2);
      transform: translateY(20%);
      transform-origin: bottom;

      button {
        min-width: math.div($slot-min-width-desktop, 2);
      }
    }
  }
}
