.nav-link {
  font-size: 18px;
}

.logo__container {
  height: 24px;
  width: 24px;

  .cane,
  .gatto,
  .stivali {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center;
    animation: rotateVisibility 9s infinite;
  }

  .gatto,
  .stivali {
    transform: rotateY(90deg);
  }

  .cane {
    animation-delay: 0s;
  }

  .gatto {
    animation-delay: 3s;
  }

  .stivali {
    animation-delay: 6s;
  }
}

@keyframes rotateVisibility {
  0% {
    transform: rotateY(90deg);
  }
  3%,
  30.33% {
    transform: rotateY(0deg);
  }
  33.33%,
  66.66%,
  100% {
    transform: rotateY(90deg);
  }
}
