$button-width: calc((100dvw - 80px) / 10);
$button-width-desktop: 36px;
$button-height: 40px;
$button-height-desktop: 48px;

.keyboard {
  width: 100%;
  max-width: 440px;

  &__btn {
    width: $button-width;
    max-width: 40px;
    height: $button-height;

    @media screen and (min-width: 768px) {
      width: $button-width-desktop;
      max-width: unset;
      height: $button-height-desktop;
    }

    &--no-width-rules {
      width: auto;
      max-width: unset;
    }

    &--canc {
      padding-left: 4px;
      padding-right: 6px;
    }
  }
}
