$button-height: 40px;
$button-height-desktop: 48px;

.keyboard {
  width: 100%;
  max-width: 520px;

  &__btn {
    height: $button-height;
    flex: 1;
    touch-action: manipulation;

    @media screen and (min-width: 768px) {
      height: $button-height-desktop;
    }

    &--enter {
      flex: 2.2;
    }

    &--canc {
      div {
        padding-right: 2px;
      }
      flex: 2.2;
    }

    &--disabled {
      color: var(--bs-btn-disabled-color);
      background-color: var(--bs-btn-disabled-bg) !important;
      border-color: var(--bs-btn-disabled-border-color) !important;
      opacity: var(--bs-btn-disabled-opacity);
      opacity: 0.2 !important;
    }
  }
}
